<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downsample Plots</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .plot {
            width: 25%;
            padding: 5px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container">
        {{ figs_html }}
    </div>
</body>
</html>
